
:root {
  --font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  --light-bg-color: #f0f0f0;
  --dark-bg-color: #1a1a1a;
  --light-border-color: #ccc;
  --dark-border-color: #444;
  --light-text-color: #333;
  --dark-text-color: #b4b3b3;
  --light-shadow-color: rgba(0, 0, 0, 0.2);
  --dark-shadow-color: rgba(227, 227, 227, 0.1);

  --light-card-bg-color: #e2e2e2;
  --dark-card-bg-color: #2a2a2a;
  --card-bg-color: light-dark(var(--light-card-bg-color), var(--dark-card-bg-color));

  --sait: env(safe-area-inset-top);
  --saib: env(safe-area-inset-bottom);
  --sail: env(safe-area-inset-left);
  --sair: env(safe-area-inset-right);
}

* {
  box-sizing: border-box;
  color: light-dark(var(--light-text-color), var(--dark-text-color));
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-family);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  margin: 0;
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9;
}
.pointer {
  cursor: pointer;
}

html {
  color-scheme: light;
}
html.mock-safe-area {
  --sait: 44px;
  --saib: 34px;
  --sail: 0;
  --sair: 0;
}

/* dark mode start */
html.dark-mode {
  color-scheme: dark;
}
/* dark mode end */

button {
  border: none;
  background: none;
}
