
:root {
  --font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  
  --theme-color: #007bff;
  --theme-color-hover: var(--theme-color);

  --bg-color: #f0f0f0;
  --border-color: #dfdfdf;
  --text-color: #333;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --card-bg-color: #fff;
  --card-border-color: #f4f4f4;
  --selected-bg-color: none;
  --selected-text-color: var(--theme-color);
  --read-bg-image: url("./text-bg.png?url");
  --read-bg-color: #FAF4E3;
  --reading-text-color: var(--theme-color);
  --reading-bg-color: none;
  --primary-btn-color: var(--theme-color);

  --sait: env(safe-area-inset-top);
  --saib: env(safe-area-inset-bottom);
  --sail: env(safe-area-inset-left);
  --sair: env(safe-area-inset-right);

  --max-small-width: 768px;
}

@media (width > 768px) {
  :root {
    --selected-bg-color: var(--theme-color);
    --selected-text-color: #fff;
  }
}

* {
  box-sizing: border-box;
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
}

html {
  overscroll-behavior: none;
}

body {
  min-height: var(--page-height);
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: var(--font-family);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
ul, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  list-style: none;
}
button {
  border: none;
  background: none;
}

html {
  color-scheme: light;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}
html.mock-safe-area {
  /* --sait: 44px;
  --saib: 34px; */
  --sait: 0px;
  --saib: 0px;
  --sail: 0px;
  --sair: 0px;
}
