/* 高对比度模式 */
html.more-contrast {
  --card-bg-color: #cacaca;
  --border-color: #000;
  --card-border-color: #000;
  --bg-color: #fff;
  --text-color: #000;
  --shadow-color: none;
  --selected-text-color: #fff;
  --selected-bg-color: #000;
  --read-bg-image: none;
  --read-bg-color: #fff;
  --reading-text-color: #fff;
  --reading-bg-color: #000;
  --card-light-bg-color-1: #dadada;
  .mask {
    background: none;
  }
}

html.more-contrast.dark {
  color-scheme: dark;

  --card-bg-color: #444;
  --border-color: #fff;
  --card-border-color: #000;
  --bg-color: #000;
  --text-color: #fff;
  --shadow-color: none;
  --selected-text-color: #000;
  --selected-bg-color: #fff;
  --read-bg-image: none;
  --read-bg-color: #000;
  --reading-text-color: #000;
  --reading-bg-color: #fff;

  --card-light-bg-color-1: #666;
}