@use "sass:map";

$fonts: (
  '思源黑体': (
    name: '思源黑体',
    src: url('https://cdn.jsdelivr.net/gh/adobe-fonts/source-han-sans@release/Variable/WOFF2/OTF/Subset/SourceHanSansCN-VF.otf.woff2') format('woff2')
  ),

  '思源宋体': (
    name: '思源宋体',
    src: url('https://cdn.jsdelivr.net/gh/adobe-fonts/source-han-serif@release/Variable/WOFF2/OTF/Subset/SourceHanSerifCN-VF.otf.woff2') format('woff2')
  ),

  '思源等宽': (
    name: '思源等宽',
    src: url('https://cdn.jsdelivr.net/gh/adobe-fonts/source-han-mono/Regular/OTC/SourceHanMonoSC-Regular.otf') format('opentype')
  ),

  '方正楷体': (
    name: '方正楷体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/FZKTSC.ttf") format("truetype"),
  ),

  '方正仿宋': (
    name: '方正仿宋',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/FZFSSC.ttf") format("truetype")
  ),

  '方正书宋': (
    name: '方正书宋',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/FZSSSC.ttf") format("truetype")
  ),

  '方正黑体': (
    name: '方正黑体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/FZHTSC.ttf") format("truetype")
  ),

  '落霞文楷-Light': (
    name: '落霞文楷',
    src: url("https://cdn.jsdelivr.net/gh/lxgw/LxgwWenKai/fonts/TTF/LXGWWenKai-Light.ttf") format("truetype"),
    weights: (100)
  ),
  '落霞文楷-Regular': (
    name: '落霞文楷',
    src: url("https://cdn.jsdelivr.net/gh/lxgw/LxgwWenKai/fonts/TTF/LXGWWenKai-Regular.ttf") format("truetype"),
    weights: (400)
  ),
  '落霞文楷-Bold': (
    name: '落霞文楷',
    src: url("https://cdn.jsdelivr.net/gh/lxgw/LxgwWenKai/fonts/TTF/LXGWWenKai-Bold.ttf") format("truetype"),
    weights: (700)
  ),


  '落霞文楷等宽-Light': (
    name: '落霞文楷 等宽',
    src: url("https://cdn.jsdelivr.net/gh/lxgw/LxgwWenKai/fonts/TTF/LXGWWenKaiMono-Light.ttf") format("truetype"),
    weights: (100)
  ),
  '落霞文楷等宽-Regular': (
    name: '落霞文楷 等宽',
    src: url("https://cdn.jsdelivr.net/gh/lxgw/LxgwWenKai/fonts/TTF/LXGWWenKaiMono-Regular.ttf") format("truetype"),
    weights: (400)
  ),
  '落霞文楷等宽-Bold': (
    name: '落霞文楷 等宽',
    src: url("https://cdn.jsdelivr.net/gh/lxgw/LxgwWenKai/fonts/TTF/LXGWWenKaiMono-Bold.ttf") format("truetype"),
    weights: (700)
  ),

  '落霞文楷 屏幕阅读版': (
    name: '落霞文楷 屏幕阅读版',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/LXGWWenKaiGBScreenR.ttf") format("truetype")
  ),

  '975圆体-Regular': (
    name: '975圆体',
    src: url("https://cdn.jsdelivr.net/gh/lxgw/975maru/TTF%20SC/975MaruSC-Regular.ttf") format("truetype"),
    weights: (200)
  ),
  '975圆体-Medium': (
    name: '975圆体',
    src: url("https://cdn.jsdelivr.net/gh/lxgw/975maru/TTF%20SC/975MaruSC-Medium.ttf") format("truetype"),
    weights: (500)
  ),
  '975圆体-Bold': (
    name: '975圆体',
    src: url("https://cdn.jsdelivr.net/gh/lxgw/975maru/TTF%20SC/975MaruSC-Bold.ttf") format("truetype"),
    weights: (800)
  ),

  '朱雀仿宋': (
    name: '朱雀仿宋',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/ZhuqueFangsong-Regular.ttf") format("truetype")
  ),

  '阿里妈妈东方大楷': (
    name: '阿里妈妈东方大楷',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/AlimamaDongFangDaKai-Regular.woff2") format("woff2")
  ),

  '钉钉进步体': (
    name: '钉钉进步体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/DingTalkJinBuTi-Regular.ttf") format("truetype")
  ),

  '阿里妈妈数黑体': (
    name: '阿里妈妈数黑体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/AlimamaShuHeiTi/AlimamaShuHeiTi-Bold/AlimamaShuHeiTi-Bold.woff2") format("woff2"),
    weights: (700)
  ),

  '阿里妈妈刀隶体': (
    name: '阿里妈妈刀隶体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/AlimamaDaoLiTi.woff2") format("woff2")
  ),

  '阿里妈妈方圆体': (
    name: '阿里妈妈方圆体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/AlimamaFangYuanTiVF-Thin.woff2") format("woff2"),
  ),

  '淘宝买菜体': (
    name: '淘宝买菜体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/TaoBaoMaiCaiTi-Regular.woff2") format("woff2")
  ),

  '站酷仓耳渔阳体-W01': (
    name: '站酷仓耳渔阳体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/%E7%AB%99%E9%85%B7%E4%BB%93%E8%80%B3%E6%B8%94%E9%98%B3%E4%BD%93/%E7%AB%99%E9%85%B7%E4%BB%93%E8%80%B3%E6%B8%94%E9%98%B3%E4%BD%93-W01.ttf") format("truetype"),
    weights: (200)
  ),
  '站酷仓耳渔阳体-W02': (
    name: '站酷仓耳渔阳体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/%E7%AB%99%E9%85%B7%E4%BB%93%E8%80%B3%E6%B8%94%E9%98%B3%E4%BD%93/%E7%AB%99%E9%85%B7%E4%BB%93%E8%80%B3%E6%B8%94%E9%98%B3%E4%BD%93-W02.ttf") format("truetype"),
    weights: (300)
  ),
  '站酷仓耳渔阳体-W03': (
    name: '站酷仓耳渔阳体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/%E7%AB%99%E9%85%B7%E4%BB%93%E8%80%B3%E6%B8%94%E9%98%B3%E4%BD%93/%E7%AB%99%E9%85%B7%E4%BB%93%E8%80%B3%E6%B8%94%E9%98%B3%E4%BD%93-W03.ttf") format("truetype"),
    weights: (400)
  ),
  '站酷仓耳渔阳体-W04': (
    name: '站酷仓耳渔阳体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/%E7%AB%99%E9%85%B7%E4%BB%93%E8%80%B3%E6%B8%94%E9%98%B3%E4%BD%93/%E7%AB%99%E9%85%B7%E4%BB%93%E8%80%B3%E6%B8%94%E9%98%B3%E4%BD%93-W04.ttf") format("truetype"),
    weights: (500)
  ),
  '站酷仓耳渔阳体-W05': (
    name: '站酷仓耳渔阳体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/%E7%AB%99%E9%85%B7%E4%BB%93%E8%80%B3%E6%B8%94%E9%98%B3%E4%BD%93/%E7%AB%99%E9%85%B7%E4%BB%93%E8%80%B3%E6%B8%94%E9%98%B3%E4%BD%93-W05.ttf") format("truetype"),
    weights: (700)
  ),

  // 文件有些问题，暂时不使用，使用 google fonts
  // '站酷庆科黄油体': (
  //   name: '站酷庆科黄油体',
  //   src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/站酷庆科黄油体.ttf") format("truetype")
  // ),

  '站酷快乐体': (
    name: '站酷快乐体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/站酷快乐体2016修订版.ttf") format("truetype")
  ),

  '站酷酷黑体': (
    name: '站酷酷黑体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/站酷酷黑体.ttf") format("truetype")
  ),

  '站酷高端黑体': (
    name: '站酷高端黑体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/站酷高端黑.ttf") format("truetype")
  ),

  '站酷文艺体': (
    name: '站酷文艺体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/站酷文艺体.ttf") format("truetype")
  ),

  '站酷小薇LOGO体': (
    name: '站酷小薇LOGO体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/站酷小薇LOGO体.otf") format("opentype")
  ),

  '仓耳小丸子': (
    name: '仓耳小丸子',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/仓耳小丸子.ttf") format("truetype")
  ),

  '仓耳非白-W01': (
    name: '仓耳非白',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/仓耳非白/仓耳非白W01.ttf") format("truetype"),
    weights: (200)
  ),
  '仓耳非白-W02': (
    name: '仓耳非白',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/仓耳非白/仓耳非白W02.ttf") format("truetype"),
    weights: (300)
  ),
  '仓耳非白-W03': (
    name: '仓耳非白',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/仓耳非白/仓耳非白W03.ttf") format("truetype"),
    weights: (400)
  ),
  '仓耳非白-W04': (
    name: '仓耳非白',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/仓耳非白/仓耳非白W04.ttf") format("truetype"),
    weights: (500)
  ),
  '仓耳非白-W05': (
    name: '仓耳非白',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/仓耳非白/仓耳非白W05.ttf") format("truetype"),
    weights: (700)
  ),

  '仓耳与墨-W01': (
    name: '仓耳与墨',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/仓耳与墨/仓耳与墨W01.ttf") format("truetype"),
    weights: (200)
  ),
  '仓耳与墨-W02': (
    name: '仓耳与墨',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/仓耳与墨/仓耳与墨W02.ttf") format("truetype"),
    weights: (300)
  ),
  '仓耳与墨-W03': (
    name: '仓耳与墨',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/仓耳与墨/仓耳与墨W03.ttf") format("truetype"),
    weights: (400)
  ),
  '仓耳与墨-W04': (
    name: '仓耳与墨',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/仓耳与墨/仓耳与墨W04.ttf") format("truetype"),
    weights: (500)
  ),
  '仓耳与墨-W05': (
    name: '仓耳与墨',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/仓耳与墨/仓耳与墨W05.ttf") format("truetype"),
    weights: (700)
  ),

  '仓耳周珂正大榜书': (
    name: '仓耳周珂正大榜书',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/仓耳周珂正大榜书.ttf") format("truetype")
  ),

  '芫荽': (
    name: '芫荽',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/芫荽.ttf") format("truetype")
  ),

  'OPPO Sans': (
    name: 'OPPO Sans',
    src: url("https://github.com/qwertyyb/e-reader/raw/refs/heads/master/assets/fonts/OPPO Sans 4.0.ttf") format("truetype")
  ),

  '文泉驿正黑体': (
    name: '文泉驿正黑体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/文泉驿正黑体.ttf") format("truetype")
  ),

  '文泉驿微米黑': (
    name: '文泉驿微米黑',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/文泉驿微米黑.ttf") format("truetype")
  ),

  '抖音美好体': (
    name: '抖音美好体',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/抖音美好体.otf") format("opentype")
  ),

  '源泉圆体-200': (
    name: '源泉圆体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/gensen-font/otf/TW/GenSenRounded2TW-EL.otf") format("opentype"),
    weights: (200)
  ),
  '源泉圆体-300': (
    name: '源泉圆体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/gensen-font/otf/TW/GenSenRounded2TW-L.otf") format("opentype"),
    weights: (300)
  ),
  '源泉圆体-500': (
    name: '源泉圆体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/gensen-font/otf/TW/GenSenRounded2TW-M.otf") format("opentype"),
    weights: (500)
  ),
  '源泉圆体-700': (
    name: '源泉圆体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/gensen-font/otf/TW/GenSenRounded2TW-B.otf") format("opentype"),
    weights: (700)
  ),
  '源泉圆体-900': (
    name: '源泉圆体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/gensen-font/otf/TW/GenSenRounded2TW-H.otf") format("opentype"),
    weights: (900)
  ),

  '源流明體-200': (
    name: '源流明體',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genryu-font/otf/TW/GenRyuMin2TW-EL.otf") format("opentype"),
    weights: (200)
  ),
  '源流明體-300': (
    name: '源流明體',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genryu-font/otf/TW/GenRyuMin2TW-L.otf") format("opentype"),
    weights: (300)
  ),
  '源流明體-500': (
    name: '源流明體',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genryu-font/otf/TW/GenRyuMin2TW-M.otf") format("opentype"),
    weights: (500)
  ),
  '源流明體-600': (
    name: '源流明體',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genryu-font/otf/TW/GenRyuMin2TW-SB.otf") format("opentype"),
    weights: (600)
  ),
  '源流明體-700': (
    name: '源流明體',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genryu-font/otf/TW/GenRyuMin2TW-B.otf") format("opentype"),
    weights: (700)
  ),
  '源流明體-900': (
    name: '源流明體',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genryu-font/otf/TW/GenRyuMin2TW-H.otf") format("opentype"),
    weights: (900)
  ),

  '源样明体-200': (
    name: '源样明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenYoMin2TW-EL.otf") format("opentype"),
    weights: (200)
  ),
  '源样明体-300': (
    name: '源样明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenYoMin2TW-L.otf") format("opentype"),
    weights: (300)
  ),
  '源样明体-500': (
    name: '源样明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenYoMin2TW-M.otf") format("opentype"),
    weights: (500)
  ),
  '源样明体-600': (
    name: '源样明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenYoMin2TW-SB.otf") format("opentype"),
    weights: (600)
  ),
  '源样明体-700': (
    name: '源样明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenYoMin2TW-B.otf") format("opentype"),
    weights: (700)
  ),
  '源样明体-900': (
    name: '源样明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenYoMin2TW-H.otf") format("opentype"),
    weights: (900)
  ),

  '源起明体-200': (
    name: '源起明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenKiMin2TW-EL.otf") format("opentype"),
    weights: (200)
  ),
  '源起明体-300': (
    name: '源起明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenKiMin2TW-L.otf") format("opentype"),
    weights: (300)
  ),
  '源起明体-500': (
    name: '源起明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenKiMin2TW-M.otf") format("opentype"),
    weights: (500)
  ),
  '源起明体-600': (
    name: '源起明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenKiMin2TW-SB.otf") format("opentype"),
    weights: (600)
  ),
  '源起明体-700': (
    name: '源起明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenKiMin2TW-B.otf") format("opentype"),
    weights: (700)
  ),
  '源起明体-900': (
    name: '源起明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenKiMin2TW-H.otf") format("opentype"),
    weights: (900)
  ),

  '源云明体-200': (
    name: '源云明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenKiMin2TW-EL.otf") format("opentype"),
    weights: (200)
  ),
  '源云明体-300': (
    name: '源云明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenKiMin2TW-L.otf") format("opentype"),
    weights: (300)
  ),
  '源云明体-500': (
    name: '源云明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenKiMin2TW-M.otf") format("opentype"),
    weights: (500)
  ),
  '源云明体-600': (
    name: '源云明体',
    src: url("https://cdn.jsdelivr.net/gh/ButTaiwan/genyo-font/otf/TW/GenKiMin2TW-SB.otf") format("opentype"),
    weights: (600)
  ),

  'jf open 粉圓': (
    name: 'jf open 粉圓',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/jf open 粉圓.ttf") format("truetype"),
  ),

  '三极行楷简体-粗': (
    name: '三极行楷简体-粗',
    src: url("https://cdn.jsdelivr.net/gh/qwertyyb/e-reader/assets/fonts/三极行楷简体-粗.ttf") format("truetype"),
  )
);
// 自动生成 @font-face
@each $identifier, $config in $fonts {
  $font-name: map.get($config, 'name');
  $font-src: map.get($config, 'src');
  $font-weights: map.get($config, 'weights');

  @each $weight in $font-weights {
    @debug $font-name, $weight;
    @font-face {
      font-family: $font-name;
      src: $font-src;
      font-weight: $weight;
      font-display: swap;
    }
  }

  @debug "register #{$font-name}";
  [data-font="#{$font-name}"] {
    font-family: '#{$font-name}', system-ui, -apple-system, sans-serif;
  }
}

[data-font="站酷庆科黄油体"] {
  font-family: "ZCOOL QingKe HuangYou", system-ui, -apple-system, sans-serif;
}