@use "../styles/variables";
@use "./animation";

@use "./font";
@use './contrast';

@import './base.css';
@import './dark-mode.css';

#app {
  min-height: var(--page-height);
  display: flex;
  flex-direction: column;
  position: relative;
}

#app > .root-app {
  width: 100%;
}

mark {
  background: transparent;
  cursor: pointer;
  text-decoration-style: dashed;
  text-decoration-line: underline;
  text-decoration-color: rgb(253, 145, 163);
  text-underline-offset: 0.3em;
}

body .material-symbols-outlined {
  color: inherit;
  font-size: inherit;
}

html body #app .selected {
  background: var(--selected-bg-color);
  color: var(--selected-text-color);
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 9;
}
.pointer {
  cursor: pointer;
}
.num {
  font-family: "New Tegomin", serif, fantasy;
  font-weight: bold;
}

@media (width <= variables.$MAX_SMALL_WIDTH) {
  html body .small-none {
    display: none !important;
  }
}