@import './base.css';
@import './animation.css';
@import './fonts.css';

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#app > * {
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

mark {
  background: transparent;
  cursor: pointer;
  text-decoration-style: dashed;
  text-decoration-line: underline;
  text-decoration-color: rgb(253, 145, 163);
  text-underline-offset: 0.3em;
}