# 将静态内容部署到 GitHub Pages 的简易工作流程
name: Deploy static content to Pages

on:
  # 仅在推送到默认分支时运行。
  push:
    branches: ['main']

  # 这个选项可以使你手动在 Action tab 页面触发工作流
  workflow_dispatch:

# 设置 GITHUB_TOKEN 的权限，以允许部署到 GitHub Pages。
permissions:
  contents: write # 创建 release 需要此权限
  pages: write
  id-token: write

# 允许一个并发的部署
concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  # 单次部署的工作描述
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # 配置前端构建环境
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'pnpm'

      # 设置 build version
      - name: Set build version
        run: echo "BUILDVERSION=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV
      
      # 生成 changelog
      - name: Conventional Changelog Action
        id: changelog
        uses: TriPSs/conventional-changelog-action@v3
        with:
          github-token: ${{ secrets.github_token }}
          skip-commit: "true"
          output-file: "false"
          skip-on-empty: 'false'
          skip-tag: 'false'

      # 安装依赖并构建前端项目
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Build
        run: pnpm run build
        env:
          APP_VERSION: ${{ steps.changelog.outputs.version }}

      # 配置 Android 构建环境 Java
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
      # 配置构建 keystore 文件
      - name: Decode keystore file
        run: |
          echo "${{ secrets.ANDROID_KEYSTORE }}" | base64 -d > android-release.jks

      # 构建 Android App
      - name: Build App
        run: pnpm run build:android --keystorepath ${{ github.workspace }}/android-release.jks --keystorepass ${{ secrets.ANDROID_KEYSTORE_PASSWORD }} --keystorealias ${{ secrets.ANDROID_KEYSTORE_ALIAS }} --keystorealiaspass ${{ secrets.ANDROID_KEYSTORE_ALIAS_PASSWORD }}

      # 创建 Release
      - name: Create Release
        uses: actions/create-release@v1
        id: create_release
        if: steps.changelog.outputs.skipped == 'false'
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
        with:
          tag_name: ${{ steps.changelog.outputs.tag }}
          release_name: ${{ steps.changelog.outputs.tag }}
          body: ${{ steps.changelog.outputs.clean_changelog }}

      # 上传 Android App 到 Release
      - name: Upload Android App to Release
        uses: actions/upload-release-asset@v1
        id: upload_android_app
        if: steps.changelog.outputs.skipped == 'false'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./android/app/build/outputs/apk/release/app-release-signed.apk
          asset_name: e-reader-${{ steps.changelog.outputs.tag }}.apk
          asset_content_type: application/vnd.android.package-archive

      # 创建版本信息文件
      - name: create releases.json
        run: node scripts/insert-version.mjs
        env:
          APP_VERSION: ${{ steps.changelog.outputs.version }}
          CHANGELOG: ${{ steps.changelog.outputs.clean_changelog }}
          ANDROID_DOWNLOAD_URL: ${{ steps.upload_android_app.outputs.browser_download_url }}
      
      # 发布新版本到 GitHub Pages
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload dist folder
          path: './dist'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      # 把 Android App 上传到制品
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        if: steps.changelog.outputs.skipped == 'false'
        with:
          name: android-release
          path: ./android/app/build/outputs/apk/release/app-release-signed.apk
          retention-days: 1